/* ENTRY 1: REDDIT-STYLE ESCAPISM STYLES */


html {
    font-family: 'Helvetica Neue';
}

body{
    margin: 0;
    cursor: zoom-in;
}


/* SIDEBAR NAVIGATION */
.nav{
    display: block;
    margin: 0;
    margin-right: 0;
    padding-left: 1.8vh;
    padding-right: 3vh;
    text-align: left;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 150vh;
    font-size: 3vh;
    background: #D9D9D9;
    border-right: 1px solid black;
}


/* LINK STYLES */
a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

/* EXIT LINK - BOLD STYLING */
#home a {
    font-weight: bold;
    letter-spacing: 0em;
}

/* NAVIGATION LINK PADDING */
#why a,
#what a,
#explore a, 
#play a,
#listen a {
    padding-left: 1vh;
    padding-right: 1vh;
    margin-left: -1vh;
}

/* ACTIVE NAVIGATION PILL - BLACK BACKGROUND */
#why a b,
#what a b,
#explore a b,
#play a b,
#listen a b {
    background: black;
    color: white;
    padding: 0.5vh 1vh;
    border-radius: 2em;
    display: inline-block;
}


/* MAIN LAYOUT */
.body{
    display: flex;
}

.box{
    display: block;
    margin-left: 2vw;
}


/* PAGE TITLE */
.question{
    margin-right: auto;
    margin-top: 2vh;
    font-size: 10vw;
    display: block;
    margin-bottom: 23vh;
}


/* ADD COMMENT BUTTON */
.add {
    align-items: center;
    font-size: 3vh;
    border-radius: 2em;
    border: 1px solid black;
    padding: .5em;
}

#add{
    margin-top: 2vh;
}

#plus {
    font-family: 'HelveticaNeue-Light';
    font-size: 4.5vh;
    align-items: center;
}


/* DESCRIPTION BOX */
.subtext{
    display: block;
    font-size: 2.75vh;
    width: 75%;
    border: 1px solid black;
    border-radius: 2em;
    padding: 1.35em;
    margin-bottom: 4vh; 
}


/* USER PROFILE CIRCLE */
.circle{
    width: 2em;
    height: 2em;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: .5vw;
}


/* USER INFO */
.info{
    display: flex;
    vertical-align: center;
    align-items: center; 
    margin-bottom: 2vh; 
    font-size: 2.75vh;
}


/* WAVE ANIMATION FOR HAND EMOJI */
@keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.wave-emoji {
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
    /* I set transform origin to make it wave from the wrist */
    transform-origin: 70% 70%;
}